<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voter Login</title>
    <link rel="stylesheet" href="./static/assets/css/voter_dashboard.css">
</head>
<body>
    <h1>Welcome to Voter Login</h1>

    <div id="event-section">
        <h2>Events</h2>
        <ul id="event-list">
            <!-- Event details will be dynamically added here -->
        </ul>
    </div>

    <script src="./static/assets/js/voter_dashboard.js"></script>
</body>
</html>
